header{
    height: max-content;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container{
    text-align: center;
    position: relative;
    .cta{
        margin-top: 2.5rem;
        display: flex;
        gap: 1.2rem;
        justify-content: center;
    }
}

.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 8rem;
    &::after{
        content: '';
        width: 1px;
        height: 2rem;
        background: var(--color-primary);
    }
}

.my-photo {
    margin-top: 4rem;
    img{
        margin: 0 auto;
        opacity: 0.8;
        border-radius: 50%;
        width: 30rem;
        height: 30rem;
        overflow: hidden;
    }
}

.scroll__down{
    position: absolute;
    right: -2.3rem;
    bottom: 10rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
    cursor: pointer;
}

// ================ MEDIUM DEVICES ================
@media screen and (max-width: 1200px){
    .my-photo {
                img{
                    width: 22rem;
                    height: 22rem;
                }
            }
  }
  
  // ================ SMALL DEVICES ================
  @media screen and (max-width: 600px){
    .header__socials,
    .scroll__down{
        display: none;
    }


    .my-photo {
        img{
            width: 16rem;
            height: 16rem;
        }
    }
  }



